.topBaner {
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding: 5px;
  color: white;
  background-color: #04185F;
  margin-bottom: 10px
}
body{
  height: 100%;
}
.wrap-grey{
  background: #efefef38
}
.container{
  background: white;
}

img {
  width: 100%;
}

.brand-img {
  min-width: 100px;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

#main-nav .form {
  margin-top: 1.5rem;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.fas.fa-search {
  z-index: 1;
}

.simplebox {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.orbord {
  border: 1px solid #F3703C;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.orbgcol {
  background: #F3703C;
}

.orcol {
  color: #F3703C;
}

.btn-mayas {
  background: #F3703C;
  border: none;
  color: white;
  box-shadow: none !important;
  min-width: 105px;

}

.btn-mayas1 {
  background: #F3703C;
  border: none;
  color: white;
  box-shadow: none !important;
  min-width: 50px;
  text-align: center;
}

.btn-l {
  margin-top: 1.5rem;
  text-align: center;
}

.round {
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: white;
  color: #F3703C;
  font-size: 12px;
  padding: 2px;
  position: relative;
  right: 2px;
  bottom: 5px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 1;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #F3703C;
}

/* Style the tab */

.tabcontent {
  display: none;
}

.drop1 {
  position: absolute;
  z-index:11;
  left: 100px;
  display: table;
}
.categParent{
  display: table;
  height: 56vh
}
.categChild{
  display: table-row;
}
.categChild::after{
 content:"";
}

.categImages {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.inCategImages {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width:50%;
  padding: 0 4px;
  position: relative;
  text-align: center;
  color: white;
}


.inCategImages img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;

}


.tickets{
  width: 45%;
  text-align: center;
  padding-top: 7px;
  padding-left: 5px;
}
.tickets img{
  vertical-align: bottom;

}
.tickets div{
  width: 100%;
  background: #F3703C;
  padding-top: 15px;
  padding-bottom: 15px; 
  color: white;
  position: relative;
  top: -26px;
}
.ecare{
  width: 50%;
  float: left;
  padding: 2px;
  padding-top:6%;
  text-align: center;
}
.ecare div{
  width: 100%;
  background: #F3703C;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px; 
}
.drop11{
 display: table-row;
 width: 250px !important;
}
.drop11 a{
  width: 250px !important;
  display: inline-block;
  height: 100% !important;
  vertical-align: middle;
  padding-top: 5px;
  border-right: 10px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.drop11::after{
  content:"";

}
.drop1, .drop2{
  background: white;
  height: 60vh;
  min-height: 370px;
}
.drop2{
  width: 115vh
}
.drop2{
  color: black;
}
.drop2 h5{
  font-size: 12px;
}
.drop2 h6{
  font-size: 15px;
  color: #F3703C;
  font-weight: bold;
}
.drop2{
  padding: 20px;
}
.drop1 a, .drop2 a {
  color: black;
  text-decoration: none;
  line-height: 1.94rem !important;
  padding-left: 10px;
}

.drop2 {
  position: absolute;
  left: 250px;
  top: 0px;
}

.drop11:hover a{
 border-right: 10px solid #F3703C;


}

.drop3, .drop2 {
  display: none;
  box-shadow: 1px 5px 10px 1px silver
}
.drop11:hover .drop2 {
  display: block
}





#demo .col-md-2 {
  display: inline-block;
  margin-left: -4px;
}

#demo .col-md-2 img {
  width: 100%;
  height: auto;
}

#demo .carousel-indicators {
  bottom: 0;
}

#demo .carousel-control-prev-icon .fas, #demo .carousel-control-next-icon .fas {
  color: #F3703C !important
}

#demo {
  box-shadow: 1px 1px 10px 1px silver;
}

.card img {
  width: 100%
}

.cardsforPRo {
  margin-top: 20px;
  margin-bottom: 40px;

}
.bot-shadow{
  -webkit-box-shadow: 0 8px 6px -6px grey;
  -moz-box-shadow: 0 8px 6px -6px grey;
  box-shadow: 0 8px 6px -6px grey;
}
.discBtn{
  width: 100%;
  display: inline-block;
  font-weight: bold
}
.price{
  font-size: 1.4rem;
  color: #F3703C;
  font-weight: bold
}
.cardsforPRo .card{
  border-collapse: collapse;
  border-radius: 0px !important;
  width: 25% !important; 
}
.deal1 , .deal2{
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px;
  padding-top: 80px;

  text-shadow: 1px 1px 1px black;
  background-image: url("../images/banners/1.jpeg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 200px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.deal2{
  background-image: url("../images/banners/2.png"); /* The image used */
}
.btn-mayas2{
  color: white;
  background: none;
  border: 1px solid white;
}
.btn-mayas2:hover{
  background: white;
}
.weDeal{
  background-image: url("../images/weather/1.png"); /* The image used */
  height: 250px;

  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.weDeal h4{
  width: 50%;
  padding-top: 20px;
  color: #D1B691;
  font-weight: bold;
}
.weDeal.a{
  background-image: url("../images/weather/2.png"); /* The image used */
}
.weDeal.a h4{
  color: #E697F2 !important
}
.weDeal.b h4{
  color: #E6A19D !important
}
.weDeal.c h4{
  color: #F7D211 !important

}
.weDeal.b{
  background-image: url("../images/weather/3.png"); /* The image used */
}
.weDeal.c{
  background-image: url("../images/weather/4.png"); /* The image used */
}
.eti{
  background-image: url("../images/ecom/1.png"); /* The image used */
  height: 200px;
  margin: 5px;
  margin-top: 40px;

  text-align: center;
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.col-md-3.eti{
  width: 30% !important;
}
.eti.a{
  background-image: url("../images/ecom/2.png"); /* The image used */

}
.eti h4{
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 90%;
  background: #F3703C;
  margin: 0px;
  color: white;
  padding: 10px;
}
.myExp div{
  float: left;
}
.myExp div .price{
  font-size: 1.2rem;
}
.myExp div .wasPrice{
  font-size: 0.7rem;
}
.myExp div .card-body{
  padding: 8px;
}
.myExp div.col-md-4{
  padding-right: 5px;
  padding-left: 5px;
}
.mainMyExp{
  margin-top: 30px;
}
.expTab{
  width: 100%;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid silver;

}
.expTab.active{
  background: #F3703C !important;
  color: white !important;
  
}
.expTab::after{
  content:'';
  position: absolute;
  border:10px solid transparent;
  border-right:10px solid #F3703C;
  top:49px;
  left:-20px;

}
.mainMyExp .col-md-9,.mainMyExp .col-md-3{
  padding: 0px;
}
.tabbing{
  margin-top: 50px;

}
/* Style the tab */

/* Style the tab */
.tab {
  float: right;
  width: 27%;
  text-align: center;

}
.tabbing .tabcontent .card{
  width: 25%;
  border-collapse: collapse;
  border-radius: 0px !important;
}
.tabbing .tabcontent .card .price{
  font-size: 15px;
  font-weight: bold;
}
.tabbing .tabcontent .card .wasPrice{
  font-size: 12px;

}
.tabbing .tabcontent .card .discBtn{
  font-size: 15px;
}
.tabbing .tabcontent .card .card-body{
  padding: 5px;
}
.tabbing .tabcontent .card .card-body p{
  margin-bottom: 0px;
}


/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 15px 10px;
  margin:auto;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 17px;
  font-weight: bold

}

/* Change background color of buttons on hover */
.tab button:hover {
 background: #ffaf8f
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color:#F3703C;
  color: white;
}
.tab h4{
  padding: 17px 5px;
  color: #F3703C;
  margin: 0px !important; 
}

/* Style the tab content */
.tabcontent {
  float: right;
  padding: 0px 12px;
  width: 73%;
  border-left: none;
}
.card{
  border-left: none;
  border-right: none;
}
.tabbing.bot-shadow .row .tabcontent .upperRow{
  border: 1px solid rgba(0,0,0,.125);
  border-bottom: none;
  border-top: none !important;
}
.indicSpec{
  width: 30px !important;
  height: 30px !important;
  opacity: 1;
}
#secondCaro .carousel-caption{
  text-align: left;
  width: 35%;
}
#secondCaro{
  margin-top: 50px;
  margin-bottom: 50px;
}
#secondCaro h1{
  font-weight:bold
}
#offersGen .secondCards .card{
  border: none;
  width: 50%;
  float: left; 
  text-align: center;
  padding: 10px;
}
#offersGen{
  margin-bottom: 50px;
}
.about-us-btn{
  border: 1px solid #F3703C;
  border-radius: 4px;
  font-size: 1rem;
  padding: 5px;
  display: inline-block;
  margin-top: 20px;    
}
.about-us-btn a{
  text-decoration:none;
  color: #F3703C;

}
.about-us-btn:hover{
  background:  #F3703C;
  transition: 0.2s;

  
}
.about-us-btn:hover a{
  color: white;
  transition: 0.4s;
}

.extra a{
  float: right;
  color: #F3703C;
  padding: 2px 10px;
  margin-top: 20px;
  text-decoration: none;
  border-right: 1px solid #F3703C
}
.extra a:hover{
  font-weight: bold;
  transition: 0.4s;

}
.extra .last{
  border: none !important;
}
.about-logos{
  margin-top: 50px;
}
.ablogs img{
  padding: 15px;
  border: 1px solid #FD8369;
  border-radius: 100%;
  width: 100%;
}
.ablogs{
  padding: 20px;
}
footer{
 background-image: url("../images/ecom/path 541.png"); /* The image used */
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
}
.social-icon i{
  font-size: 1.4rem;
}
footer .container{
  padding-top: 300px;
  background:  none;
  color: white;
  padding-bottom:100px;
}
.nestedDrop div.categChild div.dropp11 a{
  width: 100% !important;
  border-right: none;
}

.logBack{
  position: absolute;
  background: url(../images/ecom/logBack.png);
  width: 200px;
  height: 280px;
  top: 50px;
  z-index: 14;
  padding-top: 85px;
  color: black;
  display: none;
  transition: 0.5s
}
.logBack h5{
  font-size: 14px;
  border-bottom: 1px solid #EEEEEE;
  padding: 5px;
  margin: 1px;
  display: inline-block;;
  width: 80%;
  font-weight: bold;
}
a{
  text-decoration: none;
  color: black
}
.overlay{
  width: 100%;
  height: 100%;
  background: black;
  z-index: 13;
  opacity: 0.7;
  position: fixed;
  top: 0px;
  display: none;
  transition: 0.5s

}
#signIn{
  cursor: pointer;
}
.logInBack{
  background: url(../images/ecom/logBack1.png);
  width: 400px;
  height: 600px;
  background-repeat: no-repeat;
  z-index: 16;
  position: fixed;
  margin: auto;
  align-self: center;
  left:33%;
  top: 30px;
  padding: 160px 50px 0px 50px;
  background-size: cover;
  display: none;
}
.wel h6{
  font-size: 19px;
  font-weight: bold;
  margin: 0px !important;
  padding: 0px !important;
}
.wel p{
  font-size: 10px;
  font-weight: bold;
  margin: 0px !important;
  padding: 0px !important;
  margin-bottom: 10px !important;
}
.forgot{
  text-align: right;
  font-size: 10px;
  font-weight: bold;
}
.orDiv{
  color:  #F3703C;
  font-weight: bold;
  text-align: center;
}
.line{
  width: 50px;
  height: 8px;
  display: inline-block;
  border-top: 1px solid  #F3703C;
  margin-left: 5px;
  margin-right: 5px;
}

.login-btn{
  background-color: #F3703C;
  color: white; 
  font-weight: bold
}
.signUpBtn{
  margin: auto;
  background-color: #F3703C;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

/*mobile nav*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 110px;
}


.sidenav a {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #F3703C;
  display: block;
  transition: 0.3s;
  text-align: right;}


  .closebtn {

    font-size: 30px; 
  }

  .sidenav .closebtn{
    position: absolute;
    top: 0;
    margin-top:25px;
    right: 0px;
    padding-right: 30px;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

    border: 1px solid #F3703C;
    background-color: white !important;
  }


#mainCarousel0 .carousel-caption {
  font-family: 'Montserrat', sans-serif !important;
  text-align: left;
  color: black;
  line-height: 1rem;
 
}
.dropdown-container {
  display: none;
 
}
.dropdown-container a{
   font-size: 15px !important;
   paddding-right:10px;

}
.activedropCateg {
  background-color: #F3703C; !important;
  color: white !important;
}

